[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.2.5"
werkzeug = "==3.0.4"
mysql-connector-python = "==8.0.26"
requests = "*"
pytest = "==7.4.3"

[requires]
python_version = "3.10"
